<div class="breadcrumb">
  <span> <a href="<%= root_path%>"> Accueil </a> >
  <%= @edition.event.name %> >
  <%= @edition.date.strftime('%d/%m/%Y') %> >
  Contact > 
  Résultats
  </span>
  
</div>

<%#= params[:campaign_id] %>

<div class="row contactsRow" ng-controller="contactDetailsCtrl as vm">
    <header>
        <div class="row">
            <div class="col-md-9">
                <!-- <h1> {{ vm.name }} </h1> -->
                <h2>Contact Enregistrer</h2> 
            </div>
            <div class="col-md-3 pull-right">
                <input type="text" class="searchContact" ng-model="vm.searchContact" placeholder="Rechrcher un contact">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <%= link_to 'Nouvel Campagne', new_event_campaign_path( params[:event_id], params[:id] ), class: 'btn-orange-small',  id: 'newCamp' %>
                <!--<a href="#" class="btn-white-small">Supprimer</a>-->
            </div>
            <div class="col-md-8 pull-right">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-white-small">Importation CSV</a>
                        <a href="#" class="btn-white-small">Exporter la Liste</a>
                    </li>
                    <li> <a href="#" ng-click="vm.myFilter = {status: 'sent'}"> <%= image_tag("btn-email-envoyer.png", size: "22x16", alt: "Email envoyer") %> </a> </li>
                    <li> <a href="#" ng-click="vm.myFilter = {status: 'opened'}"> <%= image_tag("btn-deja-vu.png", size: "29x17", alt: "Deja vu") %> </a>  </li>
                    <li> <a href="#" ng-click="vm.myFilter = {status: 'blocked'}" > <%= image_tag("btn-sms-email-fail.png", size: "26x22", alt: "erreur survenue") %> </a> </li>
                    <li> <a href="#"> <%= image_tag("btn-sms-envoyer.png", size: "26x22", alt: "SMS envoyer") %> </a> </li>
                    <li> <a href="#" ng-click="vm.myFilter = {status: ''}" > ClearX </a> </li>

                </ul>
                
                
            </div>
        </div>

    </header>
    <!-- Table -->
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th> Nom & Prenom </th>
                <th> Photo </th>
                <th> Email </th>
                <th> Numéro de Téléphone </th>
                <th> Numéro de Dossrad </th>
            </tr>
        </thead>
        <tbody ng-model="vm.id" ng-init=" vm.emailsArrays = <%= @emailsArrays %>"> <!-- vm.allContacts -->
            <tr ng-repeat="c in vm.emailsArrays | limitTo: vm.perPage : (vm.curentPage -1) * vm.perPage | filter:vm.searchContact | filter:vm.myFilter">
                <td> {{ c.nom + ' ' + c.prenom }} </td>
                <td> Photo <span class="photoCount">18</span> </td>
                <td class="{{c.status}}"> {{ c.email }} <span class="EmailStatus"></span> </td>
                <td> {{ c.telephone }} <span class="smsStatus"></span> </td>
                <td> {{ c.dossard }} </td>
            </tr>

        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="#" class="btn btn-previous-pag" ng-click="vm.previousContacts()"> < </a> 
                {{ vm.curentPage }} / {{ vm.numberPagination }}
            <a href="#" class="btn btn-next-pag"  ng-click="vm.nextContacts()"> > </a> 
        </li>
        <li>
            <select ng-model="vm.perPage"
                ng-options="p for p in vm.perPageArr">
            </select> 
            <span>Contact par page</span>
        </li>

    </ul>

</div>

{{ vm.emailsArrays | json }}

<%#= debug @contacts %>

