<div class="breadcrumb">
  <span> <a href="<%= root_path%>"> Accueil </a> >
  <%= @edition.event.name %> >
  </span>
  <b> <%= @edition.date.strftime('%d/%m/%Y') %> </b>
</div>

<h2> <%= @edition.event.name %> - <%= @edition.date.strftime('%d/%m/%Y') %>  </h2>

<div class="row eventRow eventRowHome">

  <div class="col-md-6">

    <% if @edition.blank? %>
      <p>Il n'y pas encore d'édition créée pour cet évènement</p>
    <% else %>
        <div class="col-md-12 editionBox">
          <h2 class="courseDate">
            DESCRIPTIF
            <a href="#">
              <%= link_to(image_tag("editIcon.png", width: 15, height: 15), edit_event_edition_path(@edition.id, @edition.id) ) %>
            </a>
          </h2>
          <br>
          <span class="dateEdition"> <%= @edition.date.strftime('%d/%m/%Y') %></span> <br>
          <span class="courseType"><%= @edition.races.pluck(:race_type).join(', ') %> </span> <br>
          <span class="courseName"> <%= @edition.races.pluck(:name).join(', ') %> </span>


          <div class="courseStatus inProgress">EN COURS DE TRAITEMENT</div>

        </div>
    <% end %>


    <div class="col-md-12 editionBox">
      <h2 class="courseDate">
        PHOTOS
        <a href="#">
          <%= link_to(image_tag("editIcon.png", width: 15, height: 15), "#" ) %>
        </a>
      </h2>
      <br>
      <ul class="list-inline statisticsCourse">
        <li>
          <span class="coursePhotos">1245</span> <br>
          PHOTOS
        </li>
        <li>
          <span class="courseContacts">780</span> <br>
          CONTACTS
        </li>
        <li>
          <span class="courseCampagnes">3</span> <br>
          CAMPAGNES
        </li>
      </ul>
    </div>

  </div>

  <div class="col-md-6">

    <div class="col-md-12 editionBox">
      <h2 class="courseDate">
        CONTACTS
        <a href="#">
          <%= link_to(image_tag("editIcon.png", width: 15, height: 15), "#" ) %>
        </a>
      </h2>
      <br>
      <ul class="list-inline statisticsCourse">
        <li>
          <span class="coursePhotos">1245</span> <br>
          PHOTOS
        </li>
        <li>
          <span class="courseContacts">780</span> <br>
          CONTACTS
        </li>
        <li>
          <span class="courseCampagnes">3</span> <br>
          CAMPAGNES
        </li>
      </ul>
    </div>

    <div class="col-md-12 editionBox">
      <h2 class="courseDate">
        CAMPAGNES
        <a href="#">
          <%= link_to(image_tag("editIcon.png", width: 15, height: 15), "#" ) %>
        </a>
      </h2>
      <br>
      <ul class="list-inline statisticsCourse">
        <li>
          <span class="coursePhotos">1245</span> <br>
          PHOTOS
        </li>
        <li>
          <span class="courseContacts">780</span> <br>
          CONTACTS
        </li>
        <li>
          <span class="courseCampagnes">3</span> <br>
          CAMPAGNES
        </li>
      </ul>
    </div>

  </div>

</div>

