<div class="breadcrumb"> <span> <a href="<%= root_path%>"> Accueil </a> > </span> <%= @event.name %> </div>

<h3> <%= @event.name %> </h3>

<h4> EDITIONS </h4>

<div class="row eventRow eventRowHome">

  <% if @event.editions.blank? %>
    <p>Il n'y pas encore d'édition créée pour cet évènement</p>
  <% else %>
    <% @event.editions.each do |edition| %>
      <div class="col-md-4 editionBox">
        <h2 class="courseDate">
          <%= edition.date.strftime('%d/%m/%Y') %>
          <a href="#">
            <%= link_to(image_tag("editIcon.png", width: 15, height: 15), edit_event_edition_path(edition.event.id, edition.id) ) %>
          </a>
        </h2>
        <br>
        <span class="courseType"><%= edition.races.pluck(:race_type).join(', ') %> </span> <br>
        <span class="courseName"> <%= edition.races.pluck(:name).join(', ') %> </span>


        <div class="courseStatus inProgress">EN COURS DE TRAITEMENT</div>
        <ul class="list-inline statisticsCourse">
          <li>
            <span class="coursePhotos">1245</span> <br>
            PHOTOS
          </li>
          <li>
            <span class="courseContacts">780</span> <br>
            CONTACTS
          </li>
          <li>
            <span class="courseCampagnes">3</span> <br>
            CAMPAGNES
          </li>
        </ul>
        <div class="editionControl">
          <%#= link_to "Visualiser", event_edition_path(edition.event, edition), class: 'btn btn-default' %>
          <%= link_to "Visualiser", home_picto_edition_path(edition), class: 'btn btn-default' %>
          <%= link_to "Editer", edit_event_edition_path(edition.event.id, edition.id), class: 'btn btn-default' %>
          <%= link_to 'Dupliquer', new_event_edition_path(edition.event, edition: edition.attributes), class: 'btn btn-default' %>
          <%= link_to 'Supprimer', event_edition_path(edition.event.id, edition.id), class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="editEventTabs" style="margin:20px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">INFORMATIONS GENERALES</a></li>
    <li><a data-toggle="tab" href="#sectionB">SUPPORTS WEB</a></li>
    <li><a data-toggle="tab" href="#sectionC">CONTACT</a></li>
    <li><a data-toggle="tab" href="#sectionD">CONFIDENTIALITE</a></li>
  </ul>
  <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">


      <%#= form_for(@event, :html => { role: "form"}) do |f| %>
<!--        <input type="text" class="form-control input-lg" placeholder="Nom de l'evenement">-->
        <%#= f.text_field :name , placeholder: "Nom de l'evenement", class: "form-control input-lg" %>

<!--        <input type="text" class="form-control input-lg" placeholder="Ville">-->
        <%#= f.text_field :place , placeholder: "Ville", class: "form-control input-lg" %>


<!--        <input type="text" class="form-control input-lg" placeholder="Ville">-->
        <%#= f.text_field :department , placeholder: "Département", class: "form-control input-lg", as: :select, collection: Event::DEPARTMENTS %>


<!--        = f.input :department, label: 'Département', as: :select, collection: Event::DEPARTMENTS-->


        <%#= f.text_field :title %>
        <%#= f.text_area :body, size: "60x12" %>
        <%#= f.submit "Enregistrer" , class: 'btn btn-default btn-lg' %>
      <%# end %>

      <%= form_for(@event, :html => { role: "form"}) do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_field :name , placeholder: "Nom de l'evenement", class: "form-control input-lg" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <%= f.text_field :place , placeholder: "Ville", class: "form-control input-lg" %>
          </div>
          <div class="col-xs-6">
            <%= f.select(:country, options_for_select(Event::COUNTRIES.collect{|dep| ["#{dep}", dep] },
                                                         selected: @event.country || nil), { include_blank: "Pays" },
                         { class: 'form-control input-lg'}) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_field :adress , placeholder: "Adresse", class: "form-control input-lg" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <%= f.select(:department, options_for_select(Event::DEPARTMENTS.collect{|dep| ["#{dep}", dep] },
                                                         selected: @event.department || nil), { include_blank: "Département" },
                         { class: 'form-control input-lg'}) %>
          </div>
        </div>
        <br>
        <p>
          <button type="submit" class="btn btn-default btn-lg">Enregistrer</button>
        </p>
      <% end %>

    </div>
    <div id="sectionB" class="tab-pane fade">
      <h3>Section B</h3>
      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna.
        Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id.
        Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
    </div>
    <div id="sectionC" class="tab-pane fade">
      <h3>Section C</h3>
      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna.
        Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id.
        Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
    </div>
    <div id="sectionD" class="tab-pane fade">
      <h3>Section D</h3>
      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna.
        Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id.
        Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
    </div>
  </div>
</div>