<div class="breadcrumb"> <span> <a href="<%= root_path%>"> Accueil </a> > </span> <%= @event.name %> </div>

<h3> <%= @event.name %> </h3>

<h4> EDITIONS </h4>

<div class="row eventRow eventRowHome">

  <% if @event.editions.blank? %>
    <p>Il n'y pas encore d'édition créée pour cet évènement</p>
  <% else %>
    <% @event.editions.each do |edition| %>
      <div class="col-md-4 editionBox">
        <h2 class="courseDate">
          <%= edition.date.strftime('%d/%m/%Y') %>
          <a href="#">
            <%= link_to(image_tag("editIcon.png", width: 15, height: 15), edit_event_edition_path(edition.event.id, edition.id) ) %>
          </a> <br>
          <span class="courseType"><%= edition.races.pluck(:race_type).join(', ') %> </span> <br>
          <span class="courseName"> <%= edition.races.pluck(:name).join(', ') %> </span>

        </h2>
        <div class="courseStatus inProgress">EN COURS DE TRAITEMENT</div>
        <ul class="list-inline statisticsCourse">
          <li>
            <span class="coursePhotos">1245</span> <br>
            PHOTOS
          </li>
          <li>
            <span class="courseContacts">780</span> <br>
            CONTACTS
          </li>
          <li>
            <span class="courseCampagnes">3</span> <br>
            CAMPAGNES
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>

</div>