<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @picture.image_data %> <br>
  <%= image_tag  @picture.image.url , height: '300', width: '300' %>
</p>

<%= link_to 'Edit', edit_event_picture_path(params[:event_id], params[:id], params[:picture_id]) %> |
<%= link_to 'Back', event_pictures_path(params[:event_id], params[:id]) %>
