<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= if content_for?(:title) then
          yield(:title) + ' | '
        end %>
    PictMe
  </title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'picto', media: 'all' , 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body class="picto-page">

<%= render 'layouts/picto_navigation' %>

<% if has_filter_pict_home? %>
  <%= render 'layouts/picto_filter' %>
<% end %>

<div class="container mainContainer">

  <%= yield %>

  <hr>

  <footer>
    <p>&copy; 2020 PictMe, Inc.</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
